<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diccionario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<script>
    function clearResults() {
        document.querySelector('textarea[name="code"]').value = "";
        const tbodies = document.querySelectorAll("table tbody");
        tbodies.forEach(tbody => {
            while (tbody.firstChild) {
                tbody.removeChild(tbody.firstChild);
            }
        });
    }
</script>
<body>
    <div class="container">
        <div>
            <form action="/analyze" method="POST">
                <label for="code">Sinonimos</label><br>
                <textarea name="code" id="code" rows="10" cols="50" required>{{ code if code else '' }}</textarea>
                <br><br>
                <button class="Button" type="submit">analisar</button>
            </form>
        </div>
        
        {% if results %}
            <div class="table-container">
                <h2>Resultados</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>Sinónimo</th>
                            <th>Dígito</th>
                            <th>Símbolo</th>
                            <th>Línea</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for token in results %}
                            <tr>
                                <td>{{ token.value }}</td>
                                <td>{{ token.sinónimo }}</td>
                                <td>{{ token.dígito }}</td>
                                <td>{{ token.símbolo }}</td>
                                <td>{{ token.line }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</body>
</html>
